<!-- Toolbar -->
<div class="toolbar" role="banner"></div>

<div
  class="content"
  role="main"
  fxLayout="row wrap"
  gdColumns="repeat(auto-fill, minmax(225px, 1fr))"
  gdGap="10px"
  style="padding: 10px;"
>
  <mat-card *ngFor="let player of players">
    <mat-card-content>
      <mat-card-title style="font-size: 18px;">{{
        player.name
      }}</mat-card-title>
      <mat-card-subtitle>{{ player.team }}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-content>
      <div>Position: {{ player.position }}</div>
      <div>Speed: {{ player.speedSign }} {{ player.speed }}</div>
      <div
        *ngIf="
          player.position === 'SP' ||
          player.position === 'MR' ||
          player.position === 'CL'
        "
      >
        Innings: {{ player.innings }}
      </div>
      <div *ngIf="player.position === 'C'">Arm: {{ player.arm }}</div>
    </mat-card-content>
    <mat-card-content>
      <div *ngFor="let stat of stats">
        {{ stat | statNames }}:
        <span *ngIf="player.stats[stat] > 0"
          >{{ player.offsets[stat].min
          }}<span *ngIf="player.offsets[stat].max !== player.offsets[stat].min">
            - {{ player.offsets[stat].max }}</span
          ></span
        ><span *ngIf="player.stats[stat] === 0">⁠—</span>
      </div>
    </mat-card-content>
    <mat-card-content>
      <mat-card-subtitle>{{ player.bio }}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <!-- Footer -->
  <footer></footer>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
