<!-- Toolbar -->
<div class="toolbar" role="banner"></div>

<div
  class="content"
  role="main"
  fxLayout="row wrap"
  gdColumns="repeat(auto-fill, minmax(500px, 1fr))"
  gdGap="10px"
  style="padding: 10px;"
>
  <mat-card *ngFor="let player of players">
    <mat-card-header>
      <mat-card-title>{{ player.type }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        K: {{ player.stats.k }} | {{ player.offsets.k.min }} -
        {{ player.offsets.k.max }}
      </div>
      <div>
        BB: {{ player.stats.bb }} | {{ player.offsets.bb.min }} -
        {{ player.offsets.bb.max }}
      </div>
      <div>
        GO: {{ player.stats.go }} | {{ player.offsets.go.min }} -
        {{ player.offsets.go.max }}
      </div>
      <div>
        1B: {{ player.stats.fb }} | {{ player.offsets.fb.min }} -
        {{ player.offsets.fb.max }}
      </div>
      <div>
        2B: {{ player.stats.sb }} | {{ player.offsets.sb.min }} -
        {{ player.offsets.sb.max }}
      </div>
      <div>
        FO: {{ player.stats.fo }} | {{ player.offsets.fo.min }} -
        {{ player.offsets.fo.max }}
      </div>
      <div>
        HR: {{ player.stats.hr }} |
        <span *ngIf="player.stats.hr > 0"
          >{{ player.offsets.hr.min }} - {{ player.offsets.hr.max }}</span
        >
      </div>
      <div>
        3B: {{ player.stats.tb }} |
        <span *ngIf="player.stats.tb > 0"
          >{{ player.offsets.tb.min }} - {{ player.offsets.tb.max }}</span
        >
      </div>
      <div>Total: {{ player.total }}</div>
    </mat-card-content>
  </mat-card>
  <!-- Footer -->
  <footer></footer>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
